$portrait_mobile:575.98px;

html,body{
	margin: 0;
	padding: 0;
}
.triangle{
	background-image: url(../../../public/images/top-right-angle-bg.png);
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 829px;
	position: absolute;
    z-index: 100;
}
.hero-slideshow { 
    width: 100%;
    height: 720px;
    background-color:#fff;
    position:relative;
    margin: auto;
	overflow: hidden;
	
	.horizontal-line {
		margin: 50px auto 0;
		position: absolute;
		right: -610px;
		z-index: 50;
		@media (max-width: $portrait_mobile) { 
			margin: 0 auto;
		}
	}
	.vertical-line{
		position: absolute;
		right: 10%;
		bottom: 0px;
		z-index: 50;
		@media (max-width: $portrait_mobile) { 
			right:0;
		}
	}
	picture {
		position:absolute;
		width: 100vw;
		&.bg1{z-index: 3;}
		&.bg2{z-index: 2;}
		&.bg3{z-index: 1;}
	}
    .hero-background { 
		.bgimg {
			img{
				width: 110vw;
				min-height: 720px;
				object-fit: cover;
				z-index: 10;  
				background-repeat:no-repeat;
				background-size: cover;
				image-rendering: optimizeQuality;
			}  

			.bg1{ z-index: 3; }
			.bg2{ z-index: 2; }
			.bg3{ z-index: 1; } 
		}
    }

    .slides{
      position: relative;
      width: 600px;
      height: 720px;
      margin: auto;
 	  img {
		position:absolute;
	  }
	  .slide {
		  &-2{
			  .player {
				position: absolute;
				z-index: 10;
			  }
		  }
	  }
	  .title {
		  position: absolute;
	  }
	  .number{
		  z-index: 20;
	  }
	}

}//.slideshow






