$portrait_mobile:575.98px;

.slide-1{
  .number{
    left: -110px;
  }
  .player {
    left: 270px;
    top: 60px;  
    z-index: 20;
  }
  .title {
    left: 350px;
    top: 230px; 
    z-index: 20;
  }

  @media (max-width: $portrait_mobile) {  
    .number{
      left: -50px;
      top: 0;
      width: 60%;
      z-index: 30;
    }
    .title {
      left: 4%;
      top: 300px;
      width: 60%;
      z-index: 60;
    }
    .player {
      right: 0;
      left:auto;
      z-index: 40;
    }
  }
}//slide-1

.slide-2{
  .title{
    left: 340px;
    top: 180px;
    width: 160px;
    z-index: 20;
    .text-1 { width: 68%; }
    .text-2 { width: 100%; top:55px; }
  }
  .player {
    width: 600px;
    top: 50px;
    left: 150px;
  }

  @media (max-width: $portrait_mobile) {  
    .title {
      left: 4%;
      top: 300px;
      z-index: 60;
    }
    .player {
      right: 0;
      top: 140px;
      width: 400px;
      left: auto;
    }
  }

}
.slide-3{
  .number{
    left: 0;
    top: 100px;
    
  }
  .title{
    left: 140px;
    top: 200px;
    z-index: 20;
    .text-2 {
      top: 60px;
    }
  }
  .player {
    width: 400px;
    left: 300px;
    top: 30px;
    z-index: 10;
  }

  @media (max-width: $portrait_mobile) {  
    .number{
      left: 20px;
      top: 20px;
      width: 15%;
    }
    .title {
      left: 4%;
      top: 270px;
      z-index: 60;
    }
    .player {
      right: 0;
      top: 20px;
      width: 300px;
      left: auto;
    }
  }

}