html, body {
  margin: 0;
  padding: 0; }

.triangle {
  background-image: url(../../../public/images/top-right-angle-bg.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 829px;
  position: absolute;
  z-index: 100; }

.hero-slideshow {
  width: 100%;
  height: 720px;
  background-color: #fff;
  position: relative;
  margin: auto;
  overflow: hidden; }
  .hero-slideshow .horizontal-line {
    margin: 50px auto 0;
    position: absolute;
    right: -610px;
    z-index: 50; }
    @media (max-width: 575.98px) {
      .hero-slideshow .horizontal-line {
        margin: 0 auto; } }
  .hero-slideshow .vertical-line {
    position: absolute;
    right: 10%;
    bottom: 0px;
    z-index: 50; }
    @media (max-width: 575.98px) {
      .hero-slideshow .vertical-line {
        right: 0; } }
  .hero-slideshow picture {
    position: absolute;
    width: 100vw; }
    .hero-slideshow picture.bg1 {
      z-index: 3; }
    .hero-slideshow picture.bg2 {
      z-index: 2; }
    .hero-slideshow picture.bg3 {
      z-index: 1; }
  .hero-slideshow .hero-background .bgimg img {
    width: 110vw;
    min-height: 720px;
    object-fit: cover;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: optimizeQuality; }
  .hero-slideshow .hero-background .bgimg .bg1 {
    z-index: 3; }
  .hero-slideshow .hero-background .bgimg .bg2 {
    z-index: 2; }
  .hero-slideshow .hero-background .bgimg .bg3 {
    z-index: 1; }
  .hero-slideshow .slides {
    position: relative;
    width: 600px;
    height: 720px;
    margin: auto; }
    .hero-slideshow .slides img {
      position: absolute; }
    .hero-slideshow .slides .slide-2 .player {
      position: absolute;
      z-index: 10; }
    .hero-slideshow .slides .title {
      position: absolute; }
    .hero-slideshow .slides .number {
      z-index: 20; }

.slide-1 .number {
  left: -110px; }

.slide-1 .player {
  left: 270px;
  top: 60px;
  z-index: 20; }

.slide-1 .title {
  left: 350px;
  top: 230px;
  z-index: 20; }

@media (max-width: 575.98px) {
  .slide-1 .number {
    left: -50px;
    top: 0;
    width: 60%;
    z-index: 30; }
  .slide-1 .title {
    left: 4%;
    top: 300px;
    width: 60%;
    z-index: 60; }
  .slide-1 .player {
    right: 0;
    left: auto;
    z-index: 40; } }

.slide-2 .title {
  left: 340px;
  top: 180px;
  width: 160px;
  z-index: 20; }
  .slide-2 .title .text-1 {
    width: 68%; }
  .slide-2 .title .text-2 {
    width: 100%;
    top: 55px; }

.slide-2 .player {
  width: 600px;
  top: 50px;
  left: 150px; }

@media (max-width: 575.98px) {
  .slide-2 .title {
    left: 4%;
    top: 300px;
    z-index: 60; }
  .slide-2 .player {
    right: 0;
    top: 140px;
    width: 400px;
    left: auto; } }

.slide-3 .number {
  left: 0;
  top: 100px; }

.slide-3 .title {
  left: 140px;
  top: 200px;
  z-index: 20; }
  .slide-3 .title .text-2 {
    top: 60px; }

.slide-3 .player {
  width: 400px;
  left: 300px;
  top: 30px;
  z-index: 10; }

@media (max-width: 575.98px) {
  .slide-3 .number {
    left: 20px;
    top: 20px;
    width: 15%; }
  .slide-3 .title {
    left: 4%;
    top: 270px;
    z-index: 60; }
  .slide-3 .player {
    right: 0;
    top: 20px;
    width: 300px;
    left: auto; } }
